<!-- ==================== Header Start Here ==================== -->
<header class="header">
  <div class="container container--xl">
    <nav class="header-inner flex-between gap-8">
      <div class="header-content-wrapper flex-align flex-grow-1">
        <!-- Logo Start -->
        <div class="logo">
          <a href="index.html" class="link">
            <img src="assets/images/thumbs/headerLogo.png" alt="Logo" />
          </a>
        </div>
        <!-- Logo End  -->
        <!-- Menu Start  -->
        <div class="header-menu d-lg-block d-none mx-60">
          <ul class="nav-menu flex-align">
            <li class="nav-menu__item ">
              <a href="/" class="nav-menu__link">Home</a>
            </li>
            <li class="nav-menu__item has-submenu">
              <a href="javascript:void(0)" class="nav-menu__link">About Us</a>
              <ul class="nav-submenu scroll-sm">
                <li class="nav-submenu__item">
                  <a href="university_profile.html" class="nav-submenu__link hover-bg-neutral-30">About UNWH</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="leadership.html" class="nav-submenu__link hover-bg-neutral-30">Messages from Chancellor &
                    VC</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="values.html" class="nav-submenu__link hover-bg-neutral-30">Vision, Mission & Core
                    Values</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="accreditations-rankings.html" class="nav-submenu__link hover-bg-neutral-30">Our
                    Achievements</a>
                </li>
              </ul>
            </li>
            <li class="nav-menu__item">
              <a href="all-programs.html" class="nav-menu__link">Programs</a>
            </li>

            <li class="nav-menu__item has-submenu">
              <a href="javascript:void(0)" class="nav-menu__link">Schools</a>
              <ul class="nav-submenu scroll-sm">
                <li class="nav-submenu__item">
                  <a href="school-commerce-business-studies.html"
                    class="nav-submenu__link hover-bg-neutral-30">Commerce & Business Studies</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="school-computer-science-engineering.html"
                    class="nav-submenu__link hover-bg-neutral-30">Computer Science & Engineering</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="school-hotel-hospitality-management.html"
                    class="nav-submenu__link hover-bg-neutral-30">Hotel & Hospitality Management</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="school-yogic-science.html" class="nav-submenu__link hover-bg-neutral-30">Yogic Sciences</a>
                </li>

                <li class="nav-submenu__item">
                  <a href="school-applied-social-sciences.html" class="nav-submenu__link hover-bg-neutral-30">Applied
                    Social Sciences & Humanities</a>
                </li>

                <li class="nav-submenu__item">
                  <a href="school-skill-development.html" class="nav-submenu__link hover-bg-neutral-30">Skill
                    Development & Vocational Studies</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="school-earth-science.html" class="nav-submenu__link hover-bg-neutral-30">Earth Science</a>
                </li>
              </ul>
            </li>

            <li class="nav-menu__item has-submenu">
              <a href="javascript:void(0)" class="nav-menu__link">Admission</a>
              <ul class="nav-submenu scroll-sm">
                <li class="nav-submenu__item">
                  <a href="admissions-procedure.html" class="nav-submenu__link hover-bg-neutral-30">Admission
                    Procedure</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="bank-details.html" class="nav-submenu__link hover-bg-neutral-30">Bank Details</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="fees-Structure-2025-26.html" class="nav-submenu__link hover-bg-neutral-30">Fee
                    Structure</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="scholarship.html" class="nav-submenu__link hover-bg-neutral-30"> Scholarship </a>
                </li>
              </ul>
            </li>

            <li class="nav-menu__item">
              <a href="academics.html" class="nav-menu__link">Academics</a>
            </li>

            <!-- dropdown menu  -->
            <li class="nav-menu__item has-submenu">
              <a href="javascript:void(0)" class="nav-menu__link">Campus Life</a>
              <ul class="nav-submenu scroll-sm">
                <li class="nav-submenu__item">
                  <a href="infrastructure.html" class="nav-submenu__link hover-bg-neutral-30">Infrastructure</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="virtual-tour.html" class="nav-submenu__link hover-bg-neutral-30">Virtual Tour</a>
                </li>
                <li class="nav-submenu__item">
                  <a href="student-life.html" class="nav-submenu__link hover-bg-neutral-30">Student Life</a>
                </li>
              </ul>
            </li>

            <li class="nav-menu__item">
              <a href="research.html" class="nav-menu__link">Research</a>
            </li>

            <li class="nav-menu__item">
              <a href="placements.html" class="nav-menu__link">Placements</a>
            </li>

            <li class="nav-menu__item">
              <a href="contact.html" class="nav-menu__link">Contact</a>
            </li>
          </ul>
        </div>
        <!-- Menu End  -->
      </div>
      <!-- Header Right start -->
      <div class="header-right flex-align">
        <button type="button" class="toggle-mobileMenu d-lg-none text-neutral-200 flex-center"
          style="margin-left: auto; padding: 10px; font-size: 28px;">
          <i class="ph ph-list"></i>
        </button>
      </div>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->